# Diretórios de build e ambientes virtuais
build/
dist/
env/
*.egg-info/

# Arquivos gerados pelo WiX Toolset
*.wixobj
*.wixpdb
*.msi

# Dependências gerenciadas pelo Pipenv
Pipfile.lock

# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs e caches
*.log
*.tmp
.DS_Store
