<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Auto Art v2" Language="1033" Version="2.0.0" Manufacturer="SuaEmpresa" UpgradeCode="d9e0ca0d-a928-4d99-ae87-43a296cfeb85">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"/>
    <MediaTemplate EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="AutoArtV2">
        </Directory>
      </Directory>
      
      <!-- Menu Iniciar -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AutoArtStartMenu" Name="Auto Art v2">
          <Component Id="StartMenuComponent" Guid="{B2C3D4E5-F6A1-4780-9F2B-BE06F052B4F6}">
            <Shortcut Id="UninstallShortcut"
                      Name="Desinstalar Auto Art v2"
                      Target="[SystemFolder]msiexec.exe"
                      Arguments="/x [ProductCode]"
                      Directory="AutoArtStartMenu"/>
            <RemoveFolder Id="AutoArtStartMenu" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\AutoArtV2" Name="StartMenuInstalled" Type="string" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <!-- Atalho na Área de Trabalho -->
      <Directory Id="DesktopFolder">
        <Component Id="DesktopShortcutComponent" Guid="{C3D4E5F6-A1B2-4780-9F2B-BE06F052B4F6}">
          <Shortcut Id="DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="Auto Art v2"
                    Description="Abrir Auto Art v2"
                    Target="[INSTALLFOLDER]auto_art_v2.exe"
                    Icon="AppIcon.ico"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue Root="HKCU" Key="Software\AutoArtV2" Name="DesktopShortcutInstalled" Type="string" Value="1" KeyPath="yes"/>
        </Component>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="Auto Art v2" Level="1">
      <ComponentGroupRef Id="AutoArtFiles"/>
      <ComponentRef Id="StartMenuComponent"/>
      <ComponentRef Id="DesktopShortcutComponent"/>
    </Feature>

    <Icon Id="AppIcon.ico" SourceFile="icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico"/>
  </Product>
</Wix>
